li {
  margin-top: 15px;
}

.add-button {
  width: 150px;
  background-color: greenyellow;
}

.add-dish-button {
  width: 150px;
  background-color: #32dd1975;
  margin-top: 15px;
}

.remove-dish-button {
  width: 150px;
  background-color: #db252575;
}

.delete-order-button {
  width: 150px;
  background-color: #ff000075;
  margin-top: 15px;
}

.m-auto {
  margin: 0;
}

select {
  width: 255px;
  margin-top: 15px;
  margin-bottom: 15px;
}
